﻿@model Web.Models.Sales
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Sales Details</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">Sales</a>
            </li>
            <li class="active">
                <strong>Invoice</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4">
        @*<div class="title-action">
            <a href="#" class="btn btn-white"><i class="fa fa-pencil"></i> Edit </a>
            <a href="#" class="btn btn-white"><i class="fa fa-check "></i> Save </a>
            <a href="invoice_print.html" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Print Invoice </a>
        </div>*@
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content p-xl">
                <div class="row">
                    <div class="col-sm-6">
                        <address>
                            <strong>@Model.Customer.Name</strong><br>
                            @Model.Customer.Phone<br>
                        </address>
                    </div>
                    <div class="col-sm-6 text-right">
                        <h4>Invoice No.</h4>
                        <h4 class="text-navy">@Model.Id</h4>
                        <p>
                            <span><strong>Invoice Date:</strong> @Model.SalesDate.ToShortDateString()</span><br />
                        </p>
                    </div>
                </div>
                <div class="table-responsive m-t">
                    <table class="table invoice-table">
                        <thead>
                            <tr>
                                <th>Item List</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Total Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.SalesItems)
                            {
                                <tr>
                                    <td>
                                        <div><strong>@item.Product.Name</strong></div>
                                    </td>
                                    <td>@item.QTY</td>
                                    <td>@item.Product.SalesPrice</td>
                                    <td>@item.Price</td>
                                    <td> @Html.ActionLink("Return", "ItemDelete", new { id = item.Id ,salesId = Model.Id }, new { @class = "btn btn-xs btn-danger", @onclick = "return confirm('Are you sure you wish to return this?');" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div><!-- /table-responsive -->
                <table class="table invoice-total">
                    <tbody>
                        <tr>
                            <td><strong>Total :</strong></td>
                            <td>@Model.TotalAmount</td>
                        </tr>
                        <tr>
                            <td><strong>Discount :</strong></td>
                            <td>@Model.Discount</td>
                        </tr>
                        <tr>
                            <td><strong>Paid Amount :</strong></td>
                            <td>@Model.PaidAmount</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
