﻿@model IEnumerable<Web.Models.Sales>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Sales List</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Sales")">Sales</a>
            </li>
            <li class="active">
                <strong>List</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2" style="margin-top:10px;">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="100">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Name</th>
                                <th data-hide="all"></th>
                                <th>Total Amount</th>
                                <th>Discount</th>
                                <th>Paid Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @item.SalesDate.ToShortDateString()
                                </td>
                                <td>
                                    @item.Customer.Name<br /> (@item.Customer.Phone)
                                </td>
                                <td>
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Name</th>
                                            <th>Qty</th>
                                            <th>Price</th>
                                        </tr>
                                        @foreach(var product in item.SalesItems)
                                        {
                                        <tr>
                                            <td>@product.Product.Name</td>
                                            <td>@product.QTY</td>
                                            <td>@product.Price</td>
                                        </tr>
                                        }
                                    </table>
                                </td>
                                <td>@item.TotalAmount</td>
                                <td>@item.Discount</td>
                                <td>@item.PaidAmount</td>
                            </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
