﻿@model IEnumerable<Web.Models.Customer>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Customer List</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Customers")">Customers</a>
            </li>
            <li class="active">
                <strong>List</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2" style="margin-top:10px;">
        @Html.ActionLink("Create New", "Create", null, new { @class= "btn btn-success" })
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="100">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th class="text-right" data-sort-ignore="true">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Phone)
                                    </td>
                                    <td class="text-right">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id },new { @class="btn btn-xs btn-white"}) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-xs btn-danger",@onclick = "return confirm('Are you sure you wish to delete?');" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
